@{
    ViewData["Title"] = "Home Page";
}

<div id="dv_file_manager" class="position-absolute w-100 h-100"></div>

@section Scripts{
<script>
    $(document).ready(()=>{


        @* const provider = new DevExpress.FileProviders.WebApi({
            endpointUrl: 'home/file-manager-file-system',
            //thumbnailExpr: "icon",
            // ...
        }); *@

        @if(ViewData["ver"]=="1"){
            <text>
            const provider = new DevExpress.fileManagement.RemoteFileSystemProvider({
                endpointUrl: 'https://js.devexpress.com/Demos/NetCore/api/file-manager-file-system',
                //endpointUrl: 'home/file-manager-file-system',
            });
            </text>
        } else {
            <text>
            const provider = new DevExpress.fileManagement.RemoteFileSystemProvider({
                //endpointUrl: 'https://js.devexpress.com/Demos/NetCore/api/file-manager-file-system',
                endpointUrl: 'home/file-manager-file-system',
            });
            </text>
        }
        @* const provider = new DevExpress.fileManagement.RemoteFileSystemProvider({
            endpointUrl: 'https://js.devexpress.com/Demos/NetCore/api/file-manager-file-system',
            //endpointUrl: 'home/file-manager-file-system',
        }); *@

        $('#dv_file_manager').dxFileManager({
            name: 'fileManager',
            fileSystemProvider: provider,
            permissions: {
                download: true,
                // uncomment the code below to enable file/directory management
                create: true,
                copy: true,
                move: true,
                delete: true,
                rename: true,
                upload: true 
            },
            //allowedFileExtensions: ['.js', '.json', '.css'],
        });
    });
</script>
}